@charset "utf-8";
#apple {
	display: flex;
	background-color: #FF0000;
	height: 150px;
	width: 900px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 40px;
	justify-content: center;
	align-items: center;
}

#applepen {
	background-color: #00F3FF;
	height: 50px;
	width: 900px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 18px;
	
}
#jjlin {
	background-color: #FFf000;
	height: 150px;
	width: 900px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 40px;
}
.apple{
	display: flex
 	
}
.left{
	background-color: cornsilk	
	flex:1;
	height: 350px;
	
	width: 300px;
			background-color:orange
				
}
.right{
	background-color: cornsilk	
	flex:1;
box-shadow:-1px 0 0 0 black;
	width: 600px;
	background-color:green;
			display: flex;
	fex-direction;column;
	justify-content: center;
	align-content: center;
	height: 350px;
}

